body {
    margin:0;
    font-family: 'Squada One', sans-serif;
    background-color:#f0f0f0;
    font-size:18px;
    -webkit-user-select:none;
    user-select:none;
}
.hidden{
  display:none;
}
.container{
    max-width:360px;
    min-width: 300px;
    margin:0 auto;
    padding:2px 10px;
}
.relative{
  position:relative;
}
.btn{
  max-width:300px;
  min-width:100px;
  width:60%;
  margin:10px auto;
  border-radius:40px;
  background:linear-gradient(40deg,#222,#888);
  color:#ccc;
  border:solid 6px #999;
  box-shadow:0 2px 5px rgba(0,0,0,.3);
  text-shadow:1px 1px 0 rgba(0,0,0,.08);
  padding:8px 40px;
  text-align:center;
  font-size:32px;
  transform:scale(1);
  opacity:1;
  transition:.2s;
}
.btn:active{
  transform:scale(.98);
  opacity:.9;
  transition:0s;
}
.nav .btn:not(:last-child){
  margin-bottom:30px;
}
#screen-main h1{
  font-size:56px;
  text-align:center;
  line-height:.85;
  margin:80px 0 60px;
  color:#353535;
  text-shadow:0 2px 4px rgba(0,0,0,.3);
  letter-spacing:.3ch;
}
#cnv,#img-target,#level-info{
  border-radius:2px;
}
#cnv{
  background:#252525;
  width:100%;
  margin-top:10px;
}
#info-box{
  position:relative;
  overflow-y:hidden;
  height:120px;
  direction:rtl;
}
#img{
  display:inline-block;
}
#img-target{
  height:100px;
  margin:4px 0 8px;
  border:solid 1px rgba(0,0,0,.6);
}
#time,#moves,#mode{
  position:absolute;
  padding:10px 0;
  font-size:20px;
  line-height:1.4; 
  top:50%;
  transform:translateY(0%);
  left:0;
  direction: ltr;
  white-space:nowrap;
}
#time{
  transform:translateY(-100%);
}
#moves{
  transform:translateY(-50%);
}
#menu{
  position:relative;
  width:100%;
  padding:2px 0;
  top:0;left:0;
  background:#555;
  box-shadow:0 1px 4px rgba(0,0,0,.4);
  direction:rtl;
}
#pause-btn{
  position:relative;
  width:45px;
  height:45px;
  background:#353535;
  border-radius:4px;
  opacity:1;
  transition:.3s;
}
#pause-btn:active{
  opacity:.6;
  transition:0s;
}
#pause-btn>span{
  position:absolute;
  width:4px;
  height:20px;
  border-radius:1px;
  background:rgba(0,0,255,0);
  left:50%;top:50%;
  transform:translate(-50%,-50%);
  color:#777;
  box-shadow:5px 0 0,8px 0 0,-5px 0 0,-8px 0 0;
}
#screen-pause-menu, #screen-game-mode{
  margin-top:50px;
  top:0;left:0;
}
#screen-shose-img>.container{
  position:relative;
  padding-top:0;padding-bottom:0;
  overflow-x:hidden;
  height:100vh;
}
#screen-shose-img #images{
  white-space:nowrap;
  padding-top:50px;
}
#screen-shose-img #images,#screen-shose-img #images>div{
  transition:.3s;
}
#screen-shose-img #images>div.h{
  transform:scale(.7);
  opacity:.3;
}
#screen-shose-img #images img, #screen-shose-img #images .no-img{
  width:calc(100% / 3 - 5px * 3);
  max-width:100px;
  height:60px;
  border:none;
  border-radius:4px;
  box-shadow:0 2px 4px rgba(0,0,0,.6);
  margin:15px 4px;
  transform:scale(1);
  transition:.3s;
} 
#screen-shose-img #images .no-img{
  display: inline-block;
  opacity:0;
}
#screen-shose-img #images img:active{
  transform:scale(.96);
  transition:0s;
}
#screen-shose-img #images>div{
  display:inline-block;
  white-space:normal;
  text-align:center;
  width:100%;
  transform: scale(1);
  opacity: 1;
}
#screen-shose-img #controlls{
  text-align:center;
  position:fixed;
  width:100%;
  top:380px;left:0;
}
#screen-shose-img #controlls>div{
  display:inline-block;
  width:100px;
  height:50px;
  background:#353535;
  color:#ccc;
  border-radius:3px;
  margin:0 8px;
  font-size:50px;
  line-height:50px;
  transform:scale(1);
  transition:.3s;
}

#screen-shose-img #controlls>div:active{
  transform:scale(.95);
  transition:0s;
}